/* Empty. Add your own CSS if you like */
 .item-body p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.item-note {
    float: right;
    color: #AAA;
    font-size: 8px;
}
.item-body {
    overflow: auto;
    padding: 8px;
    text-overflow: inherit;
    white-space: normal;
    border-top-color: #FFF;
}
.scroll-content {
    /*background-color: #E5EBF8*/
    background-color: #FFF;
}
.bar-mandarina, .popup-head  {
    border-color: #EB7E39;
    background-color: #EB7E39;
    border-width:0px;
    /*background-color: #425072;
    border-color: rgba(104, 111, 129, 1)*/
}

.bar.bar-mandarina .title , .popup-title {
    color: #FFF;
}
.mandarina,  a.mandarina {
    color: #EB7E39 !important;
}
.gray, .button-gray, a.gray {
    color: #808080 !important;
}
.tabs-striped.tabs-background-mandarina .tabs {
    background-color: #EB7E39;
}
.item-divider, .button-mandarina {
    background-color: #EB7E39;
    color: #fff;
    border-width: 1px;
    border-color: #EB7E39;
    border-style: solid;
}
.bar-mandarina .button {
    color: rgba(255, 255, 255, 1);
}
.bar-mandarina .button .button-clear {
    border-color: none;
    background: none repeat scroll 0% 0% transparent;
    box-shadow: none;
    color: #FFF;
    font-size: 17px;
}
.card, .popup-container.active .popup  {
    overflow: hidden;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: #FFF;
}
.popup-container.active .popup, .card .item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popup-container.active .popup, .card .item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bar.bar-dark {
    border-color: rgba(143, 158, 195, 0.91);
    background-color: rgba(66, 80, 114, 0.91);
    background-image: none;
    color: #FFF;
}
.item-avatar > img:first-child {
    position: absolute;
    top: 11px;
    left: 11px;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    border-radius: 25px;
}
.item-mini-avatar > img:first-child {
    top: 1px;
    left: 11px;
}
.item-no-padding {
    padding: 0px;
}
h5{
    color: #000;
    font-weight: 400;
    line-height: 1;
}

.iconoBolsa {
    font-size: 35px;
}
.invisible-footer{
    height:44px;
}
.item-complex .item-content{
    background-color:transparent;
}
.item-no-line {
    border-width:1px;
    width:100%
}
.item-no-line:first-child {
    padding-top:10px;
}
.item-avatar > img:first-child {
    position: absolute;
    bottom: 1px;
    max-width: 52px;
    max-height: 52px;
    width: 100%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #FFAB2D;
    width: 60%;
}

.item-image img:first-child{
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    max-height: 150px;
    max-width: 150px;
}
}
.item h2 {
    margin: 12px 1px 10px;
    font-size: 16px;
    top: 10px;
}
.item h1 {
    white-space: normal;
}
h1 {
    font-size: 22px;
    color: #000;
    font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.2;
    margin-top: 0px;
    text-align: center;
}
.row {
    display: flex;
    padding: 0px;
    justify-content: center;
}
.item-note {
    font-size: 18px;
}
.card .item:last-child {
    border-top-color:white;
}
.artist-border{
    border-width: 0px;
    box-shadow: none;
    background-color: #EB7E39;
    padding: 10px 0px;
}
.bar-mandarina .button.button-clear {
    color: white;
}
.bar {
    padding:0px;
    border-width: 0px;
}

.item-icon-left.item-icon-right .icon:last-child{
    background-color: #FFF;
    color: #425072;;
    height: 35px;
    width: 35px;
    top: 5px;
    right: 1px;
}
.item {
    font-size:14px;
    margin: -1px 0px;
}
.item-icon-left.item-icon-right .icon:nth-child(2) {
    
    background-color: #FFF;
    color: #EB7E39;
    height: 35px;
    width: 35px;
    top: 5px;
    right: 45px;
    left:auto;
} 
.item-avatar{
    padding-left: 72px;
    min-height: 55px;
}
.button-big {
    padding: 0px 16px;
    min-width: 68px;
    min-height: 50px;
    font-size: 25px;
   
}
.button-bar > .button {
    padding: 0px;
}
.button-bar{
    min-width: 130px;
    font-weight: 400;
    font-size: 5px;
    line-height: 32px;
    min-height: 100%;
}
p{
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 15px;
    overflow: hidden;
}
.artist-name-text{
    color:gray;
}
.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
}
.tabs-light > .tabs, .tabs.tabs-light {
    border: 0px !important;
    border-color: transparent !important;
    background-image: none;
    color: transparent !important;
}
.tabs-striped .tabs {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    padding-top: 0px;
}
/*
.bar.bar-stable {
    border-color: transparent !important;
    background-color: transparent !important;
    background-image: none;
    color: transparent !important;
}*/