<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data

<ion-view title="{{friend.name}}">
  <ion-content has-header="true" padding="true">
  </ion-content>
</ion-view>
-->

<ion-view title="{{detalleartista.artistName}}">



    <ion-content scroll="true">
        <div class="artist-border item-image">
            <img src="https://orquesta-pandorica.rhcloud.com{{detalleartista.artistImage}}">
        </div>
        <div class="list">
            <div class="item item-icon-left item-icon-right " ng-repeat="cancion in detalleartista.songs">
                <i class="icon ion-play button-icon mandarina" ng-click="playSong('{{cancion.songName}}','https://orquesta-pandorica.rhcloud.com{{cancion.songUrl}}','{{cancion.songId}}','{{cancion.songPrice}}','{{cancion.songCode}}','{{detalleartista.artistName}}');"> 
                </i>
                {{cancion.songName}}  
                <i class="icon ion-bag" ng-click="showConfirm('{{cancion.songName}}','{{cancion.songCode}}','{{cancion.songPrice}}');"></i>
                <i class="icon ion-share" ng-click="share('{{cancion.songName}}');"></i>
            </div>
        </div>
        <div class="invisible-footer"></div>
    </ion-content>
</ion-view>