<ion-view title="Artistas">
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="buscaArtista" type="text" placeholder="Buscar">
            </label>
            <a class="item item-avatar item-mini-avatar item-icon-right item-no-line" href="#/tab/artists/{{artista.artistId}}" collection-repeat="artista in artistas  | filter:buscaArtista track by artista.artistName" 
               collection-item-width="'100%'" collection-item-height="56">
                <img src="http://orquesta-pandorica.rhcloud.com{{artista.artistImage}}">
                <h2>{{artista.artistName}}</h2>
                <i class="icon ion-music-note mandarina"> <p> {{artista.artistSongCount}} </p></i>
            </a>
        </div>
    </ion-content>
</ion-view>