<ion-view title="Cuenta" >
    <ion-content class="padding" ng-controller="AccountCtrl">
        <div class="list list-inset">
            <div class="item item-divider">
                Cuenta
            </div>
            <label class="item item-input item-button-right">
               <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Usuario" ng-model="data.user">
                <button class="button button-mandarina button-clear">
                </button>
            </label>
            <label class="item item-input item-button-right">
                <i class="icon ion-android-call placeholder-icon"></i>
                <input type="tel" placeholder="Telefono" ng-model="data.telephone">
                <button class="button button-mandarina button-clear">
                </button>
            </label>
            <label class="item item-input item-button-right">
               <i class="icon ion-android-mail placeholder-icon"></i>
                <input type="text" placeholder="Email" ng-model="data.email">
                <button class="button button-mandarina button-clear">
                </button>
            </label>
        </div>
        <button class="button button-block button-outline button-stable" ng-click="saveDataUser();">
              Guardar
        </button>
    </ion-content>
</ion-view>