<ion-view title="Novedades">
    <ion-content class="has-header" drag-content="false">
        <div class="card" ng-repeat="feed in feeds">

            <div class="item item-avatar">
                <img src="https://orquesta-pandorica.rhcloud.com/media/{{feed.artistImage}}">

                <span class="item-note">
                    <div class="row">{{feed.feedDom}}</div>
                    <div class="row">{{feed.feedMon}}</div>
                </span>

                <h3>{{feed.songName}}</h3>
                <p>{{feed.artistName}}</p>

            </div>
            <div class="item item-image" ng-if="{{feed.conBanner}}">
                <img src="https://orquesta-pandorica.rhcloud.com/media/{{feed.feedBanner}}">
            </div>
            <div class="item item-body">
                <p>{{feed.feedContent}}</p>
            </div>
            <div class="row item item-no-padding">
                <div class="col button button-big button-clear mandarina ion-share" ng-click="share('{{feed.songName}}');"></div>
                <div class="col button button-big button-clear mandarina ion-play" ng-click="playSong('{{feed.songName}}','https://orquesta-pandorica.rhcloud.com{{feed.songUrl}}','{{feed.songId}}','{{feed.songPrice}}','{{feed.songCode}}','{{feed.artistName}}');"></div>
                <div class="col button button-big button-clear mandarina ion-bag" ng-click="showConfirm('{{feed.songName}}','{{feed.songCode}}','{{feed.songPrice}}');"></div>
            </div>

        </div>
        <div class="invisible-footer"></div>
    </ion-content>
</ion-view>

