<ion-tabs class="tabs-striped tabs-top tabs-background-mandarina tabs-light">
    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon="icon ion-radio-waves" href="#/tab/feeds">
        <ion-nav-view name="tab-feeds"></ion-nav-view>
    </ion-tab>
    <!-- Artists Tab -->
    <ion-tab title="Artists" icon="icon ion-person-stalker" ng-click="onTabSelected()" href="#/tab/artists">
        <ion-nav-view name="tab-artists"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Account" icon="icon ion-grid" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
<div class="bar bar-footer tabs-background-light tabs-mandarina ">
    <div ng-if="shuffleActive == true && isPlaying == true">
        <div class="button-bar">
        <button class="button button-icon button-small ion-shuffle mandarina" ng-click="changeShuffle();"></button>
        <button class="button button-icon button-small ion-bag mandarina" ng-click="showConfirmMain();"></button> 
        <!--button class="button button-icon button-small ion-bag mandarina" onclick="window.plugins.socialsharing.share('Message only') "></button--> 
        <button class="button button-icon button-small ion-pause mandarina" ng-click="pauseAudio();"></button>
            </div>
    </div>
    <div ng-if="shuffleActive == true && isPlaying == false">
        <div class="button-bar">

        <button class="button button-icon button-small ion-shuffle mandarina" ng-click="changeShuffle();"></button>        
        <button class="button button-icon button-small ion-bag mandarina" ng-click="showConfirmMain();"></button> 
        <button class="button button-icon button-small ion-play mandarina" ng-click="pauseAudio();"></button>
            </div>
    </div>
    <div ng-if="shuffleActive == false && isPlaying == true">
        <div class="button-bar">

        <button class="button button-icon icon ion-shuffle gray" ng-click="changeShuffle();"></button>        
        <button class="button button-icon button-small ion-bag mandarina" ng-click="showConfirmMain();"></button> 
        <button class="button button-icon icon ion-pause mandarina" ng-click="pauseAudio();"></button>
            </div>
    </div>
    <div ng-if="shuffleActive == false && isPlaying == false">
        <div class="button-bar">
        <button class="button button-icon icon ion-shuffle gray" ng-click="changeShuffle();"></button>       
        <button class="button button-icon button-small ion-bag mandarina" ng-click="showConfirmMain();"></button>   
        <button class="button button-icon icon ion-play mandarina" ng-click="pauseAudio();"></button>
            </div>
    </div>
        <div>
            <p class="" ng-model="nowplaying">{{songPlaying}}</p>
            <p class="artist-name-text" >{{artist}}</h5>
        </div>
        
        
    
</div>